 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Fake and real news</title>
 </head>
 <body>
    {{ a }}
    <h2>Check the news whether it is fake or real</h2>
    <h3>Input:</h3>
    <br>

    <form method="post"  action="predictMPG">
        {% csrf_token %}
        <input name="titleVal" type="text" value=sdjbheejedgu><br><br>
        <input name="textVal" type="text" value=dnjkcnkdkknk><br><br>

        <input type="submit" value="Submit">
    
    </form>
    <br>
    <h1>The result is {{ scoreval }}</h1>  



 </body>
 </html>
    
 
 